﻿@model HRSensor.Models.Survey

@{
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
    ViewBag.Title = "Survey Analysis";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Details Interview</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Radar</li>
                <li class="breadcrumb-item active">Interviews Management</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </div>
    </div>
    <div>
        <br />

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SurveyTitle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SurveyTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SurveyCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SurveyCode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Questionnaire.QuestionnaireTitle)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Questionnaire.QuestionnaireTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Organization.OrganizationName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Organization.OrganizationName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BusinessUnit.BusinessUnitName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BusinessUnit.BusinessUnitName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.DepartmentName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            @if (Model.Status == HRSensor.Common.Enums.SurveyStatus.Completed)
            {
                <dd>Completed</dd>
            }
            else
            {
                <dd>Outstanding</dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Author.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CPRS)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CPRS)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                <div class="switch">
                    @if (Model.IsActive)
                    {
                        <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                    }
                    else
                    {
                        <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                    }
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TimeNeeded)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TimeNeeded)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HasHint)
            </dt>
            <dd>
                <div class="switch">
                    @if (Model.HasHint)
                    {
                        <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                    }
                    else
                    {
                        <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                    }
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WithReview)
            </dt>
            <dd>
                <div class="switch">
                    @if (Model.WithReview)
                    {
                        <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                    }
                    else
                    {
                        <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                    }
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MandatoryAnswersToAllQuestions)
            </dt>
            <dd>
                <div class="switch">
                    @if (Model.MandatoryAnswersToAllQuestions)
                    {
                        <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                    }
                    else
                    {
                        <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                    }
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NoOfQuestionsPerPage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NoOfQuestionsPerPage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WithResultPage)
            </dt>
            <dd>
                <div class="switch">
                    @if (Model.WithResultPage)
                    {
                        <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                    }
                    else
                    {
                        <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                    }
                </div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CalculateDistinctWeighting)
            </dt>
            <dd>
                <div class="switch">
                    @if (Model.CalculateDistinctWeighting)
                    {
                        <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                    }
                    else
                    {
                        <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                    }
                </div>
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn waves-effect waves-light  btn-danger" })
    </p>
    <footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
