﻿@model HRSensor.Models.Survey
@{
    //Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
    ViewBag.Title = "Interview Management";
}
@section styles{
    @Styles.Render("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")
    <link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Edit Interview</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Radar</li>
                    <li class="breadcrumb-item active">Interviews Management</li>
                    <li class="breadcrumb-item active">edit</li>
                </ol>
            </div>
        </div>

        <hr />
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SurveyId)



            <div class="form-group">
                @Html.LabelFor(model => model.QuestionnaireId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.QuestionnaireId, (SelectList)ViewBag.Questionnaires, "-- Select Questionnaire --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Questionnaire.QuestionnaireTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SurveyCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurveyCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SurveyCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SurveyTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SurveyTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SurveyTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.OrganizationId, (SelectList)ViewBag.Organizations, "-- Select Organization --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Organization.OrganizationName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BusinessUnitId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BusinessUnitId, (SelectList)ViewBag.BusinessUnits, "-- Select Business Unit --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BusinessUnit.BusinessUnitName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DepartmentId, (SelectList)ViewBag.Departments, "-- Select Department --", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Department.DepartmentName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TimeNeeded, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TimeNeeded, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TimeNeeded, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NoOfQuestionsPerPage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NoOfQuestionsPerPage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoOfQuestionsPerPage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HasHint, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="switch">
                    @if (Model.HasHint)
                {
                    <label><input type="checkbox" name="HasHint" checked="checked" value="true"><span class="lever"></span></label>
            }
            else
            {
                <label><input type="checkbox" name="HasHint" value="true"><span class="lever"></span></label>
        }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WithReview, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="switch">
                    @if (Model.WithReview)
                {
                    <label><input type="checkbox" name="WithReview" checked="checked" value="true"><span class="lever"></span></label>
            }
            else
            {
                <label><input type="checkbox" name="WithReview" value="true"><span class="lever"></span></label>
        }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MandatoryAnswersToAllQuestions, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="switch">
                    @if (Model.MandatoryAnswersToAllQuestions)
                {
                    <label><input type="checkbox" name="MandatoryAnswersToAllQuestions" checked="checked" value="true"><span class="lever"></span></label>
            }
            else
            {
                <label><input type="checkbox" name="MandatoryAnswersToAllQuestions" value="true"><span class="lever"></span></label>
        }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WithResultPage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="switch">
                    @if (Model.WithResultPage)
                {
                    <label><input type="checkbox" name="WithResultPage" checked="checked" value="true"><span class="lever"></span></label>
            }
            else
            {
                <label><input type="checkbox" name="WithResultPage" value="true"><span class="lever"></span></label>
        }
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CalculateDistinctWeighting, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="switch">
                    @if (Model.CalculateDistinctWeighting)
                {
                    <label><input type="checkbox" name="CalculateDistinctWeighting" checked="checked" value="true"><span class="lever"></span></label>
            }
            else
            {
                <label><input type="checkbox" name="CalculateDistinctWeighting" value="true"><span class="lever"></span></label>
        }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn   btn-success" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn waves-effect waves-light  btn-danger" })
                </div>
            </div>
        </div>

}


        <footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
    </div>
@section scripts {
    <script src="~/assets/plugins/moment/moment.js"></script>
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        $('#StartDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
        $('#EndDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
    </script>


    
}
