﻿@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>HR Radar</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/HRRadarCSS")
    @RenderSection("styles", required: false)
</head>
<body class="fix-header card-no-border fix-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">HR Radar</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="" alt="" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="" alt="" class="light-logo" />
                        </b>
                      <span>
                            <!-- dark Logo text -->
                            <img src="~/assets/images/logo-black@0.5x.png" alt="homepage" class="dark-logo" style="margin-left: 60px;" />
                            <!-- Light Logo text -->
                            <img src="~/assets/images/logo-black@0.5x.png" class="light-logo" alt="homepage" style="margin-left: 60px;" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down"></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                       <!-- <li class="nav-item hidden-xs-down search-box">
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>-->
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-message"></i>
                                <div class="notify"> <span class=""></span> <span class=""></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 0 Notifications</div>
                                    </li>
                                 <!--  <li>
                                        <div class="message-center">
                                           
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle">
                                                    <i class="fa fa-link"></i>
                                                </div>

                                                <div class="mail-contnet">
                                                    <h5>Human Risk Auditor</h5>
                                                    <span class="mail-desc">Assigned Interview from you</span>
                                                    <span class="time">9:30 AM 25/1/2018</span>

                                                </div>
                                            </a>

                                            <a href="#">
                                                <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>

                                                <div class="mail-contnet">
                                                    <h5>Human Risk Auditor</h5> <span class="mail-desc">Assigned Interview from you </span>
                                                    <span class="time">9:02 AM 22/1/2018</span>

                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>-->
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                      <!--  <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <div class="notify"> <span class=""></span> <span class=""></span> </div><!--class="heartbeat"<!--class="point"
                            </a>
                            <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                                                                <ul>
                                    <li>
                                        <div class="drop-title">You have 0 messages</div>
                                    </li>
                               <!--     <li>
                                       <div class="message-center">
                                          
                                            <a href="#">
                                                <div class="user-img"> <img src="" alt="" class="img-circle"> <span class=" pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Maria Polizou</h5> <span class="mail-desc">I just finished it!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                          
                                            <a href="#">
                                                <div class="user-img"> <img src="" alt="" class="img-circle"> <span class=" pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>George Papaxristou</h5> <span class="mail-desc">What did you answer in question 5</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li> //
                                </ul>
                            </div>
                        </li>-->
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        
                        
                        <!-- ============================================================== -->
                        <!-- Language -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-gb"></i></a>
                            <!--<div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> English </a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-it"></i> Italian </a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-in"></i> India</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> China</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> Dutch</a>
                            </div>-->
                        </li>
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-expanded="false" aria-haspopup="true" href="" data-toggle="dropdown"><img class="profile-pic" alt="user" src="~/assets/images/users/6.jpg"></a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img alt="user" src="~/assets/images/users/6.jpg"></div>
                                            <div class="u-text">
                                                <h4> @User.Identity.Name</h4>

                                                <p class="text-muted">user@example.com</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider" role="separator"></li>

                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a></li>
                                        }
                                    }                                    
                                </ul>
                            </div>
                        </li>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile">
                            <a class=" waves-effect " href="#" aria-expanded="false"><img src="~/assets/images/users/6.jpg" alt="user" /><span class="hide-menu">@User.Identity.Name</span></a>

                        </li>
                        <li class="nav-devider"></li>
                        @*<li class="nav-small-cap">Monitor</li>*@
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Radar<span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index", "Dashboard")">Dashboard </a></li>
                                <li><a href="@Url.Action("Index", "Surveys")">Interviews</a></li>
                                @if (User.IsInRole("Architect"))
                                {
                                    <li><a href="@Url.Action("Index", "SurveyManagement")">Interviews Management</a></li>
                                }
                            </ul>
                        </li>
                        @*@if (User.IsInRole("Architect"))
                        {
                            <li>
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-table"></i><span class="hide-menu">Questions<span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="@Url.Action("Index", "Questions")">Questions</a></li>
                                    <li><a href="@Url.Action("Create", "Questions")">Question Management</a></li>
                                </ul>
                            </li>
                        }*@
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Users<span class="label label-rouded label-themecolor pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index", "Users")">User Management</a></li>
                                <li><a href="@Url.Action("Create", "Users")">Add User</a></li>
                            </ul>
                        </li>
                        <li>
                            <a style="color:lightgrey;" class=" waves-effect waves-dark inactive" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Human Risk Interventions - Manager (HRI-M)<span class="label label-rouded label-danger pull-right">0</span></span></a>
                        </li>
                        <li>
                            <a style="color:lightgrey;" class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Human Risk Interventions - Assessor (HRI-A)<span class="label label-rouded label-danger pull-right">0</span></span></a>
                        </li>
                        <li>
                            <a style="color:lightgrey;" class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Organizational  Sustainability  Manager (OS-MAN)<span class="label label-rouded label-danger pull-right">0</span></span></a>
                        </li>
                        <li>
                            <a style="color:lightgrey;" class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Organizational  Sustainability  Monitor (OS-MON)<span class="label label-rouded label-danger pull-right">0</span></span></a>
                        </li>


                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="padding-left: 15px;">
            @RenderBody()
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    @Scripts.Render("~/bundles/adminpro")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>