﻿@model HRSensor.WebEmployee.Models.LoginViewModel

@{
    ViewBag.Title = "HR Radar - Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section id="wrapper">
    
    <div class="login-register" style="background-image:url(@Url.Content("~/assets/images/background/imglogin.jpg"));">
                <div class="login-box login" >
                    <div class="card-body">
                        <form class="form-horizontal form-material2" id="loginform" action="@Url.Action("Login","Account", new { ReturnUrl = Url.Action("Surveys","Home") })" method="post">
                            @Html.AntiForgeryToken()
                            <div class="logo-container">
                                <img class="logo" src="~/assets/images/logo300x300.png" alt="logo" />
                            </div>
                            <h3 class="box-title m-b-20">Sign In</h3>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input id="Username" name="Username" class="form-control" type="text" required placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input id="Password" name="Password" class="form-control" type="password" required placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <!--<div class="checkbox checkbox-info pull-left p-t-0">
                                        <input id="RemeberMe" name="RememberMe" type="checkbox" class="filled-in chk-col-light-blue">
                                        <label for="RememberMe">&nbsp;Remember me </label>
                                    </div>--> <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot password?</a>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                 <!--   <div class="social">
                                        <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                                        <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                                    </div>-->
                                </div>
                            </div>
                             <div class="form-group m-b-0">
                                <!--<div class="col-sm-12 text-center">
                                    Don't have an account? <a href="pages-register.html" class="text-info m-l-5"><b>Sign Up</b></a>
                                </div>-->
                            </div>
                        </form>
                        <form class="form-horizontal" id="recoverform" action="@Url.Action("Index","Home")">
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <h3>Recover Password</h3>
                                    <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
    
</section>


@section scripts {

    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".preloader").fadeOut();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
    </script>

}