﻿@model HRSensor.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Create";
}
@section styles
    {
    @Styles.Render("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")
    <link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}
@*<link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">*@

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Add User</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Add User</li>
            </ol>
        </div>
    </div>
    <h2>Basic Details</h2>

    <div class="col-md-6">
        @*@using (Html.BeginForm("Create", "Users"))
            {*@
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-material" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Username) <span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(u => u.Username)
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Email) <span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control form-control-line" })
                    @Html.ValidationMessageFor(u => u.Email)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.FirstName) <span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.FirstName)
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.LastName) <span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.LastName)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Password) <span class="text-danger">*</span>
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.ConfirmPassword) <span class="text-danger">*</span>
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.ConfirmPassword)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(u => u.HRCode) <span class="text-danger">*</span>
                @Html.TextBoxFor(u => u.HRCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(u => u.HRCode)
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.BirthDate) <span class="text-danger">*</span>
                    @Html.TextBoxFor(u => u.BirthDate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.BirthDate)
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Gender) <span class="text-danger">*</span>
                    @Html.EnumDropDownListFor(
                           x => x.Gender,
                           "- Select Gender -",
                           new { @class = "form-control" })
                    @Html.ValidationMessageFor(u => u.Gender)
                </div>
            </div>


            <hr />
            <h2>Contact Details</h2>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Phone)
                    @Html.TextBoxFor(u => u.Phone, new { @class = "form-control form-control-line" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Mobile)
                    @Html.TextBoxFor(u => u.Mobile, new { @class = "form-control form-control-line" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Country)
                    @Html.TextBoxFor(u => u.Country, new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.City)
                    @Html.TextBoxFor(u => u.City, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Address)
                    @Html.TextBoxFor(u => u.Address, new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Zip)
                    @Html.TextBoxFor(u => u.Zip, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Facebook)
                    @Html.TextBoxFor(u => u.Facebook, new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Twitter)
                    @Html.TextBoxFor(u => u.Twitter, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Google)
                    @Html.TextBoxFor(u => u.Google, new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Linkedin)
                    @Html.TextBoxFor(u => u.Linkedin, new { @class = "form-control" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">Submit</button>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn waves-effect waves-light  btn-danger" })
        }
    </div>

</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer> @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@

@section scripts
{
    <script src="~/assets/plugins/moment/moment.js"></script>
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        $('#BirthDate').bootstrapMaterialDatePicker({ weekStart: 0, time: false });

        $(function () {
            "use strict";
            if (@ViewBag.UserCreated.ToString().ToLower() == true) {
                $.toast({
                    heading: 'Success',
                    text: 'User has been added successfully.',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'success',
                    hideAfter: 3000,
                    stack: 6
                });

            }
        });

    </script>
}