﻿@model HRSensor.Web.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
    ViewBag.Title = "Details";
}


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">User Details</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Users Management</li>
                <li class="breadcrumb-item active">User Details</li>
            </ol>
        </div>
    </div>
    <h2>Basic Details</h2>

    <div class="col-md-6">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-material" }))
        {
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Username)
                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control form-control-line", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Email)
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control form-control-line", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.FirstName)
                    @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.LastName)
                    @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.HRCode)
                    @Html.TextBoxFor(u => u.HRCode, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.BirthDate)
                    @Html.TextBoxFor(u => u.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Gender)
                    @Html.TextBoxFor(u => u.Gender, new { @class = "form-control", disabled = "disabled" })
                    @*@Html.EnumDropDownListFor(
                        x => x.Gender,
                        "- Select Gender -",
                        new { @class = "form-control", disabled = "disabled" })*@
                </div>
            </div>


            <hr />
            <h2>Contact Details</h2>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Phone)
                    @Html.TextBoxFor(u => u.Phone, new { @class = "form-control form-control-line", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Mobile)
                    @Html.TextBoxFor(u => u.Mobile, new { @class = "form-control form-control-line", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Country)
                    @Html.TextBoxFor(u => u.Country, new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.City)
                    @Html.TextBoxFor(u => u.City, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Address)
                    @Html.TextBoxFor(u => u.Address, new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Zip)
                    @Html.TextBoxFor(u => u.Zip, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Facebook)
                    @Html.TextBoxFor(u => u.Facebook, new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Twitter)
                    @Html.TextBoxFor(u => u.Twitter, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Google)
                    @Html.TextBoxFor(u => u.Google, new { @class = "form-control", disabled = "disabled" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(u => u.Linkedin)
                    @Html.TextBoxFor(u => u.Linkedin, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        }
    </div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn waves-effect waves-light  btn-danger" })
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
