﻿@using System.Web.Optimization
@model List<HRSensor.Web.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
}
@*<h2>Index</h2>*@
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">User Management</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">User Management</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @*<h4 class="card-title">User Management</h4>*@
                    @*<h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>*@
                    <div class="table-responsive m-t-40">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Surname</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            @*<tfoot>
                                    <tr>
                                        <th>Surname</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>*@
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@String.Concat("user", item.UserId)">
                                        <td>@item.LastName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.Email</td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Users", new { id = item.UserId })">
                                                <i class="mdi mdi-account-edit"></i>
                                            </a> |
                                            <a href="@Url.Action("Details", "Users", new { id = item.UserId })">
                                                <i class="mdi mdi-account-card-details"></i>
                                            </a> |
                                            <a href="#" onclick="deleteUser(@item.UserId)">
                                                <i class="mdi mdi-account-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
@section scripts{
    <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        function deleteUser(userId) {
            $("#user" + userId).click(function () {
                swal({
                    title: "Delete User",
                    text: "Are you sure you want to delete this user?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    closeOnConfirm: false,
                }, function () {

                    $.ajax({
                        type: "POST",
                        url: "/Users/Delete", // the method we are calling
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ 'id': userId }),
                        dataType: "json",
                        success: function (response) {
                            if (response.UserDeleted == true) {
                                //remove the row from datatable
                                $('#example23').DataTable().row("#user" + userId)
                                    .remove().draw(false);

                                //$.toast({
                                //    heading: 'Sucess',
                                //    text: 'User has been deleted successfully.',
                                //    position: 'top-right',
                                //    loaderBg: '#ff6849',
                                //    icon: 'success',
                                //    hideAfter: 3000,
                                //    stack: 6
                                //});
                                swal("Deleted!", "User has been deleted successfully.", "success");
                            }

                        },
                        error: function (result) {
                            $.toast({
                                heading: 'Delete failed',
                                text: 'Cannot delete user. Pleasy try again.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'danger',
                                hideAfter: 3500,
                                stack: 6
                            });
                        }
                    });

                });
            });
        }


    </script>
}