﻿@using HRSensor.WebEmployee.Helpers
@using HRSensor.Resources
@using HRSensor.Models

@{
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    var flagClass = (lang == "en") ? "flag-icon-gb" : "flag-icon-gr";

    var notifications = new List<Message>();

    if (ViewBag.Notifications != null)
    {
        notifications = ViewBag.Notifications;
    }

    var heartbitClass = (notifications.Count() > 0) ? "heartbit" : "";
    var pointClass = (notifications.Count() > 0) ? "point" : "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>@ViewBag.Title</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/HRRadarCSS")
    @RenderSection("styles", required: false)
</head>
<body class="fix-header card-no-border fix-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">HR Radar</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->

                <div class="navbar-header">
                    <a class="navbar-brand" href="~/">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="" alt="" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="" alt="" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="~/assets/images/logo-black@0.5x.png" alt="homepage" class="dark-logo" style="margin-left: 60px;" />
                            <!-- Light Logo text -->
                            <img src="~/assets/images/logo-black@0.5x.png" class="light-logo" alt="homepage" style="margin-left: 60px;" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down"></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!--   <li class="nav-item hidden-xs-down search-box">
                               <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                               <form class="app-search" style="display: none;">
                                   <input class="form-control" type="text" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                               </form>
                           </li> -->
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-message"></i>
                                <div class="notify"> <span class="@heartbitClass"></span> <span class="@pointClass"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have @notifications.Count() Notifications</div>
                                    </li>

                                    <li>
                                        <div class="message-center">
                                            @foreach (var notification in notifications)
                                            {
                                                <a href="@Url.Action("Survey","Home", new { id = notification.RelatedId})">
                                                    <div class="btn btn-danger btn-circle">
                                                        <i class="fa fa-file-text"></i>
                                                    </div>

                                                    <div class="mail-contnet">
                                                        <h5>@notification.Subject</h5>
                                                        <span class="mail-desc">@notification.MessageBody</span>
                                                        <span class="time">@notification.DateSent.ToLocalTime()</span>

                                                    </div>
                                                </a>
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <i class="mdi mdi-email"></i>
                                <div class="notify"> <span class=""></span> <span class=""></span> </div><!--class="heartbeat"--><!--class="point"-->
                            </a>
                            <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 0 messages</div>
                                    </li>*@
                        <!--     <li>
                           <div class="message-center">

                                <a href="#">
                                    <div class="user-img"> <img src="" alt="" class="img-circle"> <span class=" pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Maria Polizou</h5> <span class="mail-desc">I just finished it!</span> <span class="time">9:30 AM</span>
                                    </div>
                                </a>

                                <a href="#">
                                    <div class="user-img"> <img src="" alt="" class="img-circle"> <span class=" pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>George Papaxristou</h5> <span class="mail-desc">What did you answer in question 5</span> <span class="time">9:10 AM</span>
                                    </div>
                                </a>
                            </div>
                        </li> //-->
                        @*</ul>
                                </div>
                            </li>*@
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Language -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a id="mainLang" class="nav-link dropdown-toggle waves-effect waves-dark" aria-expanded="false" aria-haspopup="true" href="" data-toggle="dropdown"> <i class="flag-icon @flagClass"></i></a>
                            <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                                @Url.LangSwitcher(" English", ViewContext.RouteData, "en")
                                @Url.LangSwitcher(" Greek", ViewContext.RouteData, "el")
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-expanded="false" aria-haspopup="true" href="" data-toggle="dropdown"><img class="profile-pic" alt="user" src="~/assets/images/users/p23.jpg"></a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img alt="user" src="~/assets/images/users/p23.jpg"></div>
                                            <div class="u-text">
                                                <h4><strong>ANONYMOUS MODE LOGIN:</strong> @User.Identity.Name</h4>
                                                @*<p class="text-muted">user@example.com</p>*@
                                            </div>
                                        </div>
                                    </li>

                                    <li class="divider" role="separator"></li>
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> @ResourcesEmployee.Logout</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile">
                            <a href="#" aria-expanded="false"><img src="~/assets/images/users/p23.jpg" alt="user" /><span class="hide-menu"><strong>ANONYMOUS MODE LOGIN:</strong>  @User.Identity.Name</span></a>
                        <li class="nav-devider"></li>

                        <li>
                            <a href="@Url.Action("Surveys","Home")" aria-expanded="false"><i class="mdi mdi-table"></i><span>@ResourcesEmployee.Interviews</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Question","Home")"><i class="mdi mdi-email"></i><span>@ResourcesEmployee.PostSupportQuestion</span></a>

                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            @RenderBody()
            <footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    @Scripts.Render("~/bundles/adminpro")
    @RenderSection("scripts", false)
</body>
</html>