﻿@model HRSensor.Web.ViewModels.DashboardViewModel
@if (Model != null)
{
    <div class="row">
       <!-- <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                       <div class="m-r-20 align-self-center"><img alt="Income" src="~/assets/images/icon/income.png"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Completed Interviews</h6>
                            <h2 class="m-t-0">@Model.CompletedInterviews</h2>
                        </div>
                    </div>
                </div> 
            </div>
        </div>-->
        <!--<div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="m-r-20 align-self-center"><img alt="Income" src="~/assets/images/icon/expense.png"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Interviews in Progress</h6>
                            <h2 class="m-t-0">@Model.InterviewsInProgress</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
       <!-- <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="m-r-20 align-self-center"><img alt="Income" src="~/assets/images/icon/assets.png"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Total Questionnaires</h6>
                            <h2 class="m-t-0">@Model.TotalQuestionnairies</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!--<div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="m-r-20 align-self-center"><img alt="Income" src="~/assets/images/icon/staff.png"></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Invited in last Interview</h6>
                            <h2 class="m-t-0">@Model.InvitedInLastInterview</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Central Human Risk Indicator (C.H.R.I)</h4>
                            <div id="cprs-chart" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">CHRI History</h4>
                            <div id="cprs-history-chart" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display: none;">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Health And Well Being</h4>
                    <div id="health-wellbeing-chart" style="width:100%; height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display: none;">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Job Satisfaction</h4>
                            <div id="job-satisfaction-chart" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12" style="display: none;">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;">Job Satisfaction History</h4>
                            <div id="job-satisfaction-history-chart" style="width:100%; height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.ThresholdCharts != null)
    {
        <div class="row ">
            @Model.ThresholdCharts.Count
        </div>
       
        foreach (var thresholdChart in Model.ThresholdCharts)
        {
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Threshold - @thresholdChart.QuestionSectorTitle</h4>
                                    <div id="@String.Format("threshold-{0}",thresholdChart.QuestionSectorId)" style="width:100%; height:400px;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-lg-offset-3 text-center">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Threshold - @thresholdChart.QuestionSectorTitle <i class="text-themecolor">@Math.Round(thresholdChart.ProgressBar * 100, 2)%</i></h4>
                                    <div style="width:100%; height:400px;">
                                        <div class="m-t-40">
                                        <div class="col col-lg-12 align-items-center justify-content-center ">
                                            High Risk
                                        </div>
                                        <div class="progress progress-vertical " style="background-color: #55ce63;">

                                            <div class="progress-bar bg-danger" style="width:40px; height:@Math.Round(thresholdChart.ProgressBar * 100,0)%;"></div>
                                        </div>
                                        <div class="col col-lg-12 align-items-center justify-content-center ">
                                            Low Risk
                                        </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="card-body">
                                    <h4 class="card-title" style="text-align: center;">Threshold - @thresholdChart.QuestionSectorTitle</h4>
                                    <div id="@String.Format("threshold-history-{0}",thresholdChart.QuestionSectorId)" style="width:100%; height:400px;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }

    }

}