﻿@*@using System.Web.Optimization*@
@{
    ViewBag.Title = "HR Radar - Dashboard";
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
}
@section styles{
    <link href="@Url.Content("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/pages/progressbar-page.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Radar</li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <form id="filtersForm">
        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="col-xlg-12 col-lg-12 col-md-12 bg-light-part b-l">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xlg-12 col-lg-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xlg-3 col-lg-3 col-md-3">
                                                <div class="form-group">
                                                    <label for="InterviewFilter">Interview</label>
                                                    @Html.DropDownList("InterviewFilter", (IEnumerable<SelectListItem>)ViewBag.Interviews, "Select Interview", new { required = "required", @class = "custom-select col-12" })
                                                </div>
                                            </div>
                                            <!--  <div class="col-xlg-3 col-lg-3 col-md-3">
                                                  <div class="form-group">
                                                      <label for="businessUnit">Business Unit</label>
                                                      <select class="custom-select col-12" id="businessUnit">
                                                          <option selected="">Choose...</option>
                                                          <option value="1">Business Unit 1</option>
                                                          <option value="2">Business Unit 2</option>
                                                          <option value="3">Business Unit 3</option>
                                                      </select>
                                                  </div>
                                              </div> -->
                                            <!-- <div class="col-xlg-3 col-lg-3 col-md-3">
                                                 <div class="form-group">
                                                     <label for="department">Department</label>
                                                     <select class="custom-select col-12" id="department">
                                                         <option selected="">Choose...</option>
                                                         <option value="1">Sales</option>
                                                         <option value="2">Support</option>
                                                         <option value="3">IT</option>
                                                     </select>
                                                 </div>
                                             </div> -->
                                            <!--  <div class="col-xlg-3 col-lg-3 col-md-3">
                                                  <div class="form-group">
                                                      <label for="geoLocation">Geo Location</label>
                                                      <select class="custom-select col-12" id="geoLocation">
                                                          <option selected="">Choose...</option>
                                                          <option value="1">Geo Location 1</option>
                                                          <option value="2">Geo Location 2</option>
                                                          <option value="3">Geo Location 3</option>
                                                      </select>
                                                  </div>
                                              </div> -->
                                        </div>
                                    </div>

                                </div>
                                <!-- <div class="row">
                                     <div class="col-xlg-12 col-lg-12 col-md-12 ">
                                         <div class="row align-items-center justify-content-center ">
                                             <div class="col-xlg-4 col-lg-4 col-md-4">
                                                 <div class="form-group">
                                                     <label for="date_from">From</label>
                                                     <div class="input-group">
                                                         <input class="form-control mydatepicker" type="text" placeholder="mm/dd/yyyy">
                                                         <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-xlg-4 col-lg-4 col-md-4">
                                                 <div class="form-group">
                                                     <label for="date_to">To</label>
                                                     <div class="input-group">
                                                         <input class="form-control mydatepicker" type="text" placeholder="mm/dd/yyyy">
                                                         <span class="input-group-addon"><i class="icon-calender"></i></span>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center justify-content-center ">
                        <h4 style="color: #99abb4 !important;">
                            Choose thresholds to display   <a href="#searchBox" class="btn waves-effect waves-light  btn-xs  btn-info " data-toggle="collapse" role="button" aria-expanded="false" aria-controls="searchBox">Description</a>
                        </h4>
                    </div>
                    <div id="questionSectorsFilter">
                        <div class="row align-items-center justify-content-center ">

                            <div class="form-check form-check-inline  ">
                                <input type="checkbox" id="basic_checkbox_1" value="1" />
                                <label for="basic_checkbox_1">Q1 </label>
                                <input type="checkbox" id="basic_checkbox_2" value="2" />
                                <label for="basic_checkbox_2">Q2 </label>
                                <input type="checkbox" id="basic_checkbox_3" value="3" />
                                <label for="basic_checkbox_3">Q3 </label>
                                <input type="checkbox" id="basic_checkbox_4" value="4" />
                                <label for="basic_checkbox_4">Q4 </label>
                                <input type="checkbox" id="basic_checkbox_5" value="5" />
                                <label for="basic_checkbox_5">Q5 </label>



                            </div>



                            <div class="form-check form-check-inline ">
                                <input type="checkbox" id="basic_checkbox_6" value="6" />
                                <label for="basic_checkbox_6">Q6 </label>
                                <input type="checkbox" id="basic_checkbox_7" value="7" />
                                <label for="basic_checkbox_7">Q7 </label>
                                <input type="checkbox" id="basic_checkbox_8" value="8" />
                                <label for="basic_checkbox_8">Q8 </label>
                                <input type="checkbox" id="basic_checkbox_9" value="9" />
                                <label for="basic_checkbox_9">Q9 </label>
                                <input type="checkbox" id="basic_checkbox_10" value="10" />
                                <label for="basic_checkbox_10">Q10</label>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center ">
                            <div class="form-check form-check-inline ">
                                <input type="checkbox" id="basic_checkbox_11" value="11" />
                                <label for="basic_checkbox_11">Q11</label>
                                <input type="checkbox" id="basic_checkbox_12" value="12" />
                                <label for="basic_checkbox_12">Q12</label>
                                <input type="checkbox" id="basic_checkbox_13" value="13" />
                                <label for="basic_checkbox_13">Q13</label>
                                <input type="checkbox" id="basic_checkbox_14" value="14" />
                                <label for="basic_checkbox_14">Q14</label>
                                <input type="checkbox" id="basic_checkbox_15" value="15" />
                                <label for="basic_checkbox_15">Q15</label>


                            </div>


                            <div class="form-check form-check-inline  ">
                                <input type="checkbox" id="basic_checkbox_16" value="16" />
                                <label for="basic_checkbox_16">Q16</label>
                                <input type="checkbox" id="basic_checkbox_17" value="17" />
                                <label for="basic_checkbox_17">Q17</label>
                                <input type="checkbox" id="basic_checkbox_18" value="18" />
                                <label for="basic_checkbox_18">Q18</label>
                                <input type="checkbox" id="basic_checkbox_19" value="19" />
                                <label for="basic_checkbox_19">Q19</label>
                                <input type="checkbox" id="basic_checkbox_20" value="20" />
                                <label for="basic_checkbox_20">Q20</label>
                            </div>
                        </div>
                    </div>


                    <div class=" row align-items-center justify-content-center ">
                        <div id="searchBox" class="collapse col-xlg-8 col-lg-8 col-md-8  ">
                            <label class="control-label text-right col-md-3" data-toggle="collapse"></label>
                            <div class="col-xlg-12 col-lg-12 col-md-12 ">
                                <select class="form-control" multiple="">
                                    <optgroup label="Q1.">
                                        <option>Quantitative Demands - Work Pace</option>
                                    </optgroup>
                                    <optgroup label="Q2.">
                                        <option>Emotional Demands</option>
                                    </optgroup>
                                    <optgroup label="Q3.">
                                        <option>Work Life Balance</option>
                                    </optgroup>
                                    <optgroup label="Q4.">
                                        <option>Influence</option>
                                    </optgroup>
                                    <optgroup label="Q5.">
                                        <option>Job Attractiveness</option>
                                    </optgroup>
                                    <optgroup label="Q6.">
                                        <option>Meaning of Work</option>
                                    </optgroup>
                                    <optgroup label="Q7.">
                                        <option>Arrangements & Procedures in Work</option>
                                    </optgroup>
                                    <optgroup label="Q8.">
                                        <option>Quality of Leadership</option>
                                    </optgroup>
                                    <optgroup label="Q9.">
                                        <option>Trust</option>
                                    </optgroup>
                                    <optgroup label="Q10.">
                                        <option>Justice</option>
                                    </optgroup>
                                    <optgroup label="Q11.">
                                        <option>Work Environment</option>
                                    </optgroup>
                                    <optgroup label="Q12.">
                                        <option>Job Insecurity</option>
                                    </optgroup>
                                    <optgroup label="Q13.">
                                        <option>Bulling - Threats of Violence (from Collegues)</option>
                                    </optgroup>
                                    <optgroup label="Q14.">
                                        <option>Bulling - Threats of Violence (from Customers)</option>
                                    </optgroup>
                                    <optgroup label="Q15.">
                                        <option>Personal Well Being - Energy</option>
                                    </optgroup>
                                    <optgroup label="Q16.">
                                        <option>Job Satisfaction {Intention to Leanve}</option>
                                    </optgroup>
                                    <optgroup label="Q17.">
                                        <option>Job Satisfaction {Overall + Salary}</option>
                                    </optgroup>
                                    <optgroup label="Q18.">
                                        <option>Gereral Health Perception (Self-Assessment)</option>
                                    </optgroup>
                                    <optgroup label="Q19.">
                                        <option>Burnout</option>
                                    </optgroup>
                                    <optgroup label="Q20.">
                                        <option>Mental Health & Well Being</option>
                                    </optgroup>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-success  " id="applyFiltersBtn" value="Apply filters">
                    </div>
                </div>
            </div>
        </div>


    </form>
    <div id="chartsPartial">
        @{Html.RenderPartial("Charts");}
    </div>
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer> @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
@section scripts{
    <script src="@Url.Content("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/echarts/echarts-all.js")"></script>
    <script src="@Url.Content("~/Scripts/js/dashboard.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>

    <script type="text/javascript">
        $("#chartsPartial").load('@(Url.Action("Charts", "Dashboard", null, Request.Url.Scheme))', function () {
            getCharts();
        });

        $("#filtersForm").validate({
            submitHandler: function () {
                applyFilters();
            }
        });

        function applyFilters() {
            var url = '/Dashboard/Charts?';

            var surveyId = $("#InterviewFilter").val();
            var questionSectors = $('#questionSectorsFilter input:checked').map(function () {
                return this.value;
            }).get().join(",");

            url = url + "SurveyId=" + surveyId;
            if (questionSectors != "") {
                url = url + "&QuestionSectors=" + questionSectors;
            }

            $("#chartsPartial").load(url, function () {
                getCharts(surveyId, questionSectors);
            });
        }

        function getCharts(surveyId, questionSectors) {
            $.ajax({
                type: "POST",
                url: "/Dashboard/GetCharts", // the method we are calling
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'dashboardFilters': { 'SurveyId': surveyId, 'QuestionSectors': questionSectors ? questionSectors.split(","): null}}),
                dataType: "json",
                success: function (response) {
                    if (response) {
                        setCharts(response.ChartsData, response.ThresholdCharts)
                    }
                },
                error: function (result) {
                    alert('Failed');
                }
            });
        }

        function setCharts(chartsData, thresholdCharts) {
            if (chartsData) {
                setCprs(chartsData["cprs"]);
                setCprsHistory(chartsData["cprs_history"]);
                setJobSatisfaction(chartsData["job_satisfaction"]);
                setJobSatisfactionHistory(chartsData["job_satisfaction_history"]);
                setHealthWellbeing(chartsData["health_wellbeing"]);
            }

            if (thresholdCharts) {
                thresholdCharts.forEach(function (thresholdChart) {
                    setThreshold(thresholdChart.MeterChart, thresholdChart.QuestionSectorId);
                    setThresholdHistory(thresholdChart.LineChart, thresholdChart.QuestionSectorId);
                });
            }
        }

        function setCprs(cprsChartData) {
            if (cprsChartData) {
                var cprs_chart = {};
                cprs_chart.type = 'cprs';
                cprs_chart.legend_data = cprsChartData.LegendData;
                cprs_chart.series_data = getComplexSeriesData(cprsChartData.SeriesData);
                cprs_chart.idelement = 'cprs-chart';
                Chart.drawChart(cprs_chart);
            }
        }

        function setCprsHistory(cprsHistoryChartData) {
            if (cprsHistoryChartData) {
                var cprs_history_chart = {};
                cprs_history_chart.type = 'cprs_history';
                cprs_history_chart.legend_data = cprsHistoryChartData.LegendData;
                cprs_history_chart.name = 'CHRI';
                cprs_history_chart.series_data = cprsHistoryChartData.SeriesData;
                cprs_history_chart.idelement = 'cprs-history-chart';
                cprs_history_chart.x_axis_data = cprsHistoryChartData.XAxisData;
                Chart.drawChart(cprs_history_chart);
            }
        }

        function setJobSatisfaction(jobSatisfactionChartData) {
            if (jobSatisfactionChartData) {
                var job_satisfaction_chart = {};
                job_satisfaction_chart.type = 'job_satisfaction';
                job_satisfaction_chart.legend_data = jobSatisfactionChartData.LegendData;
                job_satisfaction_chart.name = 'Job Satisfaction';
                job_satisfaction_chart.series_data = getComplexSeriesData(jobSatisfactionChartData.SeriesData);
                job_satisfaction_chart.idelement = 'job-satisfaction-chart';
                Chart.drawChart(job_satisfaction_chart);
            }
        }

        function setJobSatisfactionHistory(jobSatisfactionHistoryChartData) {
            if (jobSatisfactionHistoryChartData) {
                var job_satisfaction_hist_chart = {};
                job_satisfaction_hist_chart.type = 'job_satisfaction_history';
                job_satisfaction_hist_chart.legend_data = jobSatisfactionHistoryChartData.LegendData;
                job_satisfaction_hist_chart.name = 'Job Satisfaction';
                job_satisfaction_hist_chart.series_data = jobSatisfactionHistoryChartData.SeriesData
                job_satisfaction_hist_chart.idelement = 'job-satisfaction-history-chart';
                job_satisfaction_hist_chart.x_axis_data = jobSatisfactionHistoryChartData.XAxisData;
                Chart.drawChart(job_satisfaction_hist_chart);
            }
        }

        function setHealthWellbeing(healthWellbeingChartData) {
            if (healthWellbeingChartData) {
                var health_wellbeing_chart = {};
                health_wellbeing_chart.type = 'health_wellbeing';
                health_wellbeing_chart.legend_data = healthWellbeingChartData.LegendData
                health_wellbeing_chart.name = 'Job Satisfaction';
                health_wellbeing_chart.series_data = healthWellbeingChartData.SeriesData;
                health_wellbeing_chart.idelement = 'health-wellbeing-chart';
                health_wellbeing_chart.x_axis_data = healthWellbeingChartData.XAxisData;
                health_wellbeing_chart.mark_points = getMarkPoints(healthWellbeingChartData.MarkPoints);
                Chart.drawChart(health_wellbeing_chart);
            }
        }

        function setThreshold(thresholdChartData, index) {
            if (thresholdChartData) {
                var threshold_chart = {};
                threshold_chart.type = 'threshold';
                threshold_chart.legend_data = thresholdChartData.LegendData;
                threshold_chart.series_data = getComplexSeriesData(thresholdChartData.SeriesData);
                threshold_chart.idelement = 'threshold-' + index;
                Chart.drawChart(threshold_chart);
            }
        }

        function setThresholdHistory(thresholdHistoryChartData, index) {
            if (thresholdHistoryChartData) {
                var threshold_history_chart = {};
                threshold_history_chart.type = 'threshold_history';
                threshold_history_chart.legend_data = thresholdHistoryChartData.LegendData;
                threshold_history_chart.name = 'Threshold History';
                threshold_history_chart.series_data = thresholdHistoryChartData.SeriesData;
                threshold_history_chart.idelement = 'threshold-history-' + index;
                threshold_history_chart.x_axis_data = thresholdHistoryChartData.XAxisData;
                Chart.drawChart(threshold_history_chart);
            }
        }

        function getComplexSeriesData(seriesData) {
            var result = [];
            for (var i = 0; i < seriesData.length; i++) {
                result[i] = { 'value': seriesData[i].Value, 'name': seriesData[i].Name };
            }

            return result;
        }

        function getMarkPoints(markPoints) {
            var result = [];
            for (var i = 0; i < markPoints.length; i++) {
                result[i] = [];
                for (var j = 0; j < markPoints[i].length; j++) {
                    result[i][j] = {
                        type: markPoints[i][j].Type,
                        name: markPoints[i][j].Name,
                        value: getMarkPointNumberValue(markPoints[i][j].Value),
                        xAxis: getMarkPointNumberValue(markPoints[i][j].XAxis),
                        yAxis: getMarkPointNumberValue(markPoints[i][j].YAxis),
                        symbolSize: getMarkPointNumberValue(markPoints[i][j].SymbolSize)
                    }
                }
            }

            return result;
        }

        function getMarkPointNumberValue(value) {
            return value == 0 ? undefined : value;
        }
    </script>
}




