﻿@model HRSensor.Models.Question
@{
    ViewBag.Title = "Create";
}
<h2>Create Question</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Create", "Questions"))

            {

            }
        </div>
    </div>
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@ 