﻿@model HRSensor.Models.Question


@{
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
    ViewBag.Title = "Question Analysis";
}

@*<h2>@ViewBag.Title</h2>*@

<div>
    <br />
    @*<h4>Question Analysis</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Questionnaire.QuestionnaireTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Questionnaire.QuestionnaireTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionSector.QuestionSectorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionSector.QuestionSectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>*@
        @*@if (Model.Status == HRSensor.Common.Enums.SurveyStatus.COMPLETED)
                {
                    <dd>Completed</dd>
            }
            else
            {
                <dd>Outstanding</dd>
            }*@

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasFeedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasHint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasHint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            <div class="switch">
                @if (Model.IsActive)
                {
                    <label><input type="checkbox" checked="checked" onclick="return false"><span class="lever"></span></label>
                }
                else
                {
                    <label><input type="checkbox" disabled="disabled"><span class="lever"></span></label>
                }
            </div>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
