﻿@model IEnumerable<HRSensor.Models.Question>
@{
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
    ViewBag.Title = "Question Management";
}
<h2>@ViewBag.Title</h2>

<br />
<a href="#searchBox" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="searchBox">
    Search filters
</a>
<div id="searchBox" class="collapse">
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("Index", "Questions", FormMethod.Get))
        {
            <div class="row col-md-12">
                <div class="control-label col-md-1">
                    @Html.Label("Questionnaire")
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("cmbQuestionnaire", (SelectList)ViewBag.Questionnaires, new { @class = "form-control" })
                </div>
                <div class="control-label col-md-1">
                    @Html.Label("Question Sector")
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("cmbQuestionSector", (SelectList)ViewBag.QuestionSectors, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>


        }
    </div>
</div>
<hr />
<p>
    @Html.ActionLink("Create", "Create")
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Export</h4>
                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code</th>
                                <th>Title</th>
                                <th>Questionnaire</th>
                                <th>Question Sector</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.QuestionId</td>
                                    <td>@item.QuestionCode</td>
                                    <td>@item.QuestionTitle</td>
                                    <td>@item.Questionnaire.QuestionnaireTitle</td>
                                    <td>@item.QuestionSector.QuestionSectorName</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.QuestionId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.QuestionId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.QuestionId })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
@section scripts{
    <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}
