﻿
@{
    ViewBag.Title = HRSensor.Resources.ResourcesEmployee.QuestionPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="@Url.Content("../assets/plugins/html5-editor/bootstrap-wysihtml5.css")" />
    <link href="@Url.Content("../assets/plugins/dropzone-master/dist/dropzone.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("css/pages/inbox.css")" rel="stylesheet" />*@

}




<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@HRSensor.Resources.ResourcesEmployee.PostSupportQuestion</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@HRSensor.Resources.ResourcesEmployee.Home</a></li>
                <li class="breadcrumb-item">@HRSensor.Resources.ResourcesEmployee.PostSupportQuestion</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="row">
                    <div class="col-xlg-10 col-lg-9 col-md-8 bg-light-part b-l">
                        <div class="card-body">
                            <h3 class="card-title text-themecolor">@HRSensor.Resources.ResourcesEmployee.NewMessage</h3>
                            <hr>
                            <div class="form-group">
                                <input class="form-control" placeholder="@HRSensor.Resources.ResourcesEmployee.To:">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="@HRSensor.Resources.ResourcesEmployee.Subject:">
                            </div>
                            <div class="form-group">
                                <textarea class="textarea_editor form-control" rows="15" placeholder="@HRSensor.Resources.ResourcesEmployee.EnterText ..."></textarea>
                            </div>
                            <h4><i class="ti-link"></i> @HRSensor.Resources.ResourcesEmployee.Attachment</h4>
                            <form action="#" class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </form>
                            <button type="submit" class="btn btn-success m-t-20"><i class="fa fa-envelope-o"></i> @HRSensor.Resources.ResourcesEmployee.Send</button>
                            <button class="btn btn-inverse m-t-20"><i class="fa fa-times"></i> @HRSensor.Resources.ResourcesEmployee.Discard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    @section scripts{       
        <script src="@Url.Content("~/assets/plugins/html5-editor/wysihtml5-0.3.0.js")"></script>
        <script src="@Url.Content("~/assets/plugins/html5-editor/bootstrap-wysihtml5.js")"></script>
        <script src="@Url.Content("~/assets/plugins/dropzone-master/dist/dropzone.js")"></script>     
    }
