﻿
@{
    ViewBag.Title = HRSensor.Resources.ResourcesEmployee.InterviewPageTitle;
}

@using HRSensor.Common
@model HRSensor.WebEmployee.ViewModels.SurveyViewModel

@{
    int count = 0, countR = 0, navCount = 1;
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (Model.Questions.Any())
            {
                @Html.HiddenFor(m => m.SurveyId, new { id = "surveyId" })
                foreach (var question in Model.Questions)
                {
                    <div id="@string.Format("q{0}", count)" class="collapse">

                        @if (question.QuestionSector != null)
                        {
                            <h2>@question.QuestionSector.QuestionSectorHeader</h2>
                        }

                        <div class="BlockQ">
                            <div class="Question">
                                <span class=""> @(count + 1).</span>
                                <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionId</span>
                                <p style="display: inline;" id="@string.Format("{0}{1}", "Q", count)">@Html.Raw(question.QuestionTitle)</p>
                            </div>
                            <hr>
                            <div class="Choices">
                                @if (question.Type == HRSensor.Common.Enums.QuestionType.FREE_TEXT)
                                {
                                    <label>@HRSensor.Resources.ResourcesEmployee.Answer</label>
                                    <textarea class="form-control" rows="4" id="@string.Format("answer_{0}", question.QuestionId)"></textarea>
                                }
                                else
                                {
                                    foreach (var answer in question.QuestionAnswers.OrderBy(t => t.MultipleChoiceValue))
                                    {
                                        <input type="radio" name="@string.Format("answer_{0}", question.QuestionId)" value="@answer.MultipleChoiceValue" id="@string.Format("answer_{0}_{1}", question.QuestionId, answer.QuestionAnswerId)" />
                                        <label for="@string.Format("answer_{0}_{1}", question.QuestionId, answer.QuestionAnswerId)">
                                            @answer.Description
                                        </label>
                                        <br />
                                        countR++;
                                    }
                                }


                            </div>

                            <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">
                            </div>
                        </div>

                        <button id="@string.Format("backBtn_{0}", count)" type="button" class="btn waves-effect waves-light   btn-info m-t-10 m-l-15" style="margin-top: 10px;display:none" onclick="showPrev(@count, @question.QuestionId)">
                            <span class="glyphicon glyphicon-ok"></span> @HRSensor.Resources.ResourcesEmployee.Back
                        </button>
                        <button type="button" id="@string.Format("completeBtn_{0}", count)" class="btn waves-effect waves-light   btn-info m-t-10 m-l-15" style="margin-top: 10px;display:none" onclick="saveSurvey(@count, @question.QuestionId, @question.Type)" disabled="disabled">
                            @HRSensor.Resources.ResourcesEmployee.Complete
                        </button>
                        <button type="button" id="@string.Format("nextBtn_{0}", count)" class="btn waves-effect waves-light   btn-info m-t-10 m-l-15" style="margin-top: 10px;" onclick="showNext(@count, @question.QuestionId, @question.Type)" disabled="disabled">
                            <span class="glyphicon glyphicon-ok"></span> @HRSensor.Resources.ResourcesEmployee.Next
                        </button>
                    </div>
                    count++;
                }
                @*<span id="countQuections" style="display:none;">@count</span>*@
            }
        </div>
    </div>
</div>

<div id="noticeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">@HRSensor.Resources.ResourcesEmployee.modal1</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>@HRSensor.Resources.ResourcesEmployee.modal2</h4>
                <p>@HRSensor.Resources.ResourcesEmployee.modal3</p>
                <p>@HRSensor.Resources.ResourcesEmployee.modal4</p>
                <p>@HRSensor.Resources.ResourcesEmployee.modal9</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect text-left" data-dismiss="modal">@HRSensor.Resources.ResourcesEmployee.modal8</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="warnModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">@HRSensor.Resources.ResourcesEmployee.modal5</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h4>@HRSensor.Resources.ResourcesEmployee.modal6</h4>
                <p>@HRSensor.Resources.ResourcesEmployee.modal7</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect text-left" data-dismiss="modal">@HRSensor.Resources.ResourcesEmployee.modal8</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="preloader2">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Saving Answers. Please wait...</p>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        var submittingForm = false;

        $(window).on('load', function () {
            $('#noticeModal').modal('show');
            $(".preloader2").hide();

        });

        window.onbeforeunload = function () {
            if (submittingForm) {
                return undefined;
            }

            return 'Are you sure you want to leave?';
        };


        var FREE_TEXT = @Html.Raw(Json.Encode(Enums.QuestionType.FREE_TEXT));
        var MULTIPLE_CHOICE = @Html.Raw(Json.Encode(Enums.QuestionType.MULTIPLE_CHOICE));
        var questions = @Html.Raw(Json.Encode(Model.Questions));
        var surveyId = $('#surveyId').val();
        var surveyAnswers = [];
        var skipQuestions = false;
        var skipQuestionCodes = ['B8mb_01', 'B8mb_02', 'B8mb_03', 'B8mb_04', 'B8mb_05'];

        function SurveyResults(UserId, SurveyId, UserAnswers) {
            this.UserId = UserId;
            this.SurveyId = SurveyId;
            this.UserAnswers = UserAnswers;
        }

        function UserAnswers(QuestionId, QuestionType, FreeText, MultipleChoiceValue) {
            this.QuestionId = QuestionId;
            this.Type = QuestionType;
            this.FreeText = FreeText;
            this.MultipleChoiceValue = MultipleChoiceValue;
        }

        $(document).ready(function () {
            $('#q0').show();
        });

        function showPrev(i, questionId) {
            //
            $('#q' + i).hide();

            var prevQuestIndex = getPrevQuestionIndex(i);

            if (prevQuestIndex == 0) {
                displayFirstQuestionBtns(prevQuestIndex);
            } else if(prevQuestIndex > 0) {
                displayQuestionBtns(prevQuestIndex);
            }

            $('#q' + prevQuestIndex).show();
        }

        function showNext(i, questionId, questionType) {
            setAnswer(i, questionId, questionType);

            $('#q' + i).hide();

            var multipleChoiceAnswer = $('input[name=answer_' + questionId + ']:checked').val();

            if (questions[i].QuestionCode == 'A05_1') {
                //when the user answers no we skip the questions
                if (multipleChoiceAnswer == 2) {
                    skipQuestions = true;
                } else {
                    skipQuestions = false;
                }
            }

            var nextQuestIndex = getNextQuestionIndex(i);

            if (isLastQuestion(nextQuestIndex)) {
                displayLastQuestionBtns(nextQuestIndex);
            } else {
                displayQuestionBtns(nextQuestIndex);
            }

            $('#q' + nextQuestIndex).show();
        }

        if (questions) {
            for (var i = 0; i < questions.length; i++) {
                if (questions[i].Type == MULTIPLE_CHOICE) {
                    registerRadioChangeListener(questions[i].QuestionId);
                } else if(questions[i].Type == FREE_TEXT){
                    registerTextAreaChangeListener(questions[i].QuestionId);
                }
            }
        }

        function registerRadioChangeListener(questionId) {
            $('input[name = answer_' + questionId + ']').change(function (val) {
                var questionIndex = getIndexForQuestionId(questionId);
                var isLast = isLastQuestion(questionIndex);
                if (questionIndex != -1) {
                    if (isLast) {
                        disableCompleteBtn(questionIndex,false);
                    } else {
                        disableNextBtn(questionIndex, false);
                    }
                }                
            });
        }

        function registerTextAreaChangeListener(questionId, isLast) {
            $('#answer_' + questionId).on('change keyup paste', function () {
                var answer = $(this).val();
                var disableBtn = !answer || answer == "";
                var questionIndex = getIndexForQuestionId(questionId);
                var isLast = isLastQuestion(questionIndex);

                if (questionIndex != -1) {
                    if (isLast) {
                        disableCompleteBtn(questionIndex, disableBtn);
                    } else {
                        disableNextBtn(questionIndex, disableBtn);
                    }
                }
                
            });
        }

        function isLastQuestion(index) {
            return getNextQuestionIndex(index) >= questions.length; 
        }

        function displayFirstQuestionBtns(index) {
            $('#backBtn_' + index).hide();
            $('#nextBtn_' + index).show();
            $('#completeBtn_' + index).hide();
        }

        function displayQuestionBtns(index) {
            $('#backBtn_' + index).show();
            $('#nextBtn_' + index).show();
            $('#completeBtn_' + index).hide();
        }

        function displayLastQuestionBtns(index) {
            $('#backBtn_' + index).show();
            $('#nextBtn_' + index).hide();
            $('#completeBtn_' + index).show();
        }

        function getNextQuestionIndex(i) {
            if (skipQuestions) {
                var questionsSkipped = false;
                while (i + 1 < questions.length && skipQuestionCodes.indexOf(questions[i + 1].QuestionCode) != -1) {
                    questionsSkipped = true;
                    i++;
                }
            }

            return i + 1;
        }

        function getPrevQuestionIndex(i) {
            if (skipQuestions) {
                var questionsSkipped = false;
                while (i - 1 >= 0 && skipQuestionCodes.indexOf(questions[i - 1].QuestionCode) != -1) {
                    questionsSkipped = true;
                    i--;
                }
            }

            return i - 1;
        }

        function disableCompleteBtn(index, status) {
            $("#completeBtn_" + index).prop("disabled", status);
        }

        function disableNextBtn(index, status) {
            $("#nextBtn_" + index).prop("disabled", status);
        }

        function setAnswer(index, questionId, questionType) {
            if (questionType == MULTIPLE_CHOICE) {
                var multipleChoiceAnswer = $('input[name=answer_' + questionId + ']:checked').val();
                surveyAnswers[index] = new UserAnswers(questionId, questionType, null, multipleChoiceAnswer);
            } else if (questionType == FREE_TEXT) {
                var freeTextAnswer = $('#answer_' + questionId).val();
                surveyAnswers[index] = new UserAnswers(questionId, questionType, freeTextAnswer, null);
            }
        }

        function saveSurvey(count, questionId, questionType) {
            submittingForm = true;
            swal("Finished!", "Thank you for answering the interview.", "success");
            setAnswer(count, questionId, questionType);
            $(".preloader2").show();
            $.ajax({
                type: "POST",
                url: "/Home/SaveSurveyAnswers", // the method we are calling
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'surveyResults': new SurveyResults(@ViewBag.UserId, surveyId, surveyAnswers) } ),
                dataType: "json",
                success: function (response) {
                    $(".preloader2").hide();
                    if (response && response.result == "Redirect") {
                        window.location = response.url;
                    }

                },
                error: function (result) {
                    $(".preloader2").hide();
                    swal("Warning!", "An error occured while saving the answers. Please try again.", "warning");
                    submittingForm = false;
                }
            });
        }

        function getIndexForQuestionId(questionId) {
            var index = -1;
            for (var i = 0; i < questions.length; i++) {
                if (questions[i].QuestionId == questionId) {
                    index = i;
                    break;
                }
            }
            return index;
        }

    </script>
}
