﻿@using HRSensor.Resources
@model IEnumerable<HRSensor.Models.UserSurvey>

@{
    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

@{
    ViewBag.Title = HRSensor.Resources.ResourcesEmployee.InterviewPageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section styles{
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/chartist-js/dist/chartist.min.css")" />
    <link href="@Url.Content("~/assets/plugins/chartist-js/dist/chartist-init.css") " rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css")" rel="stylesheet" />
}


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">@HRSensor.Resources.ResourcesEmployee.EmployeeDashboard</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@HRSensor.Resources.ResourcesEmployee.Home</a></li>
                <li class="breadcrumb-item">@HRSensor.Resources.ResourcesEmployee.Interviews</li>
            </ol>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="text-themecolor">@ResourcesEmployee.Interviews</h4>
            <div class="table-responsive m-t-40">
                <hr />

                <div class="dataTables_wrapper" id="example23_wrapper">
                    <div class="dataTables_length" id="myTable_length"><label>@HRSensor.Resources.ResourcesEmployee.Show <select name="myTable_length" aria-controls="myTable"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> @HRSensor.Resources.ResourcesEmployee.Entries</label></div>
                    <div class="dataTables_filter" id="example23_filter">
                    </div>

                    <table width="100%" class="display nowrap table table-hover table-striped table-bordered  " id="example23" role="grid" aria-describedby="example23_info" style="width: 100%;" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@HRSensor.Resources.ResourcesEmployee.Title</th>
                                <th>@HRSensor.Resources.ResourcesEmployee.Start</th>
                                <th>@HRSensor.Resources.ResourcesEmployee.End</th>
                                <th>@HRSensor.Resources.ResourcesEmployee.Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var onClickAction = "";
                                if (item.Status == HRSensor.Common.Enums.SurveyStatus.Outstanding && (item.Survey.EndDate == null || item.Survey.EndDate >= DateTime.Today))
                                {
                                    onClickAction = "window.location.href = '" + Url.Action("Survey","Home", new { id = item.SurveyId}) + "';";                           
                                }
                                else 
                                {
                                    onClickAction = "interviewCompleted()";
                                }
                            <tr onclick="@onClickAction">
                                <td>@item.Survey.SurveyTitle</td>
                                <td>@item.Survey.StartDate.Value.ToShortDateString()</td>
                                <td>@item.Survey.EndDate.Value.ToShortDateString()</td>
                                @if (item.Status == HRSensor.Common.Enums.SurveyStatus.Completed)
                                {
                                    <td><span class="label label-danger arrowed">@ResourcesEmployee.SurveyStatusCompleted</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-success arrowed">@ResourcesEmployee.SurveyStatusOngoing</span></td>
                                }
                            </tr>
                            
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
            @if (lang == "el")
            {
            <text>
            , "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Greek.json",
                "buttons": {
                    "copy": "Αντιγραφή",
                    "print": "Εκτύπωση"
                    }
            }
            </text>
            }
        });

        function interviewCompleted() {
            swal("@ResourcesEmployee.SwalInterviewCompletedTitle", "@ResourcesEmployee.SwalInterviewCompletedBody", "success");
        }
    </script>
}