﻿@model IEnumerable<HRSensor.Models.Survey>

@{
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";

    ViewBag.Title = "Interview Analysis";
}
@section styles{
    @Styles.Render("~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css")
    <link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="~/assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
}



<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Interview Analysis</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Radar</li>
                <li class="breadcrumb-item active">Interviews</li>
            </ol>
        </div>
    </div>

    <br />
    <a href="#searchBox" class="btn waves-effect waves-light  btn-info" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="searchBox">
        Search filters
    </a>
    <div id="searchBox" class="collapse">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @using (Html.BeginForm("Index", "Surveys", FormMethod.Get))
            {
                <div class="row col-md-12">
                    <div class="control-label col-md-1">
                        @Html.Label("Date Created From")
                    </div>

                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.TextBox("txtDateCreatedFrom", "", new { id = "date", @class = "form-control" })
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                    </div>

                    <div class="control-label col-md-1">
                        @Html.Label("Date Created To")
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            @Html.TextBox("txtDateCreatedTo", "", new { id = "date2", @class = "form-control" })
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Search" class="btn   btn-warning" />
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive m-t-40">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>C.H.R.I.</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.SurveyId</td>
                                        <td>@item.SurveyTitle</td>
                                        <td>@item.StartDate.Value.ToShortDateString()</td>
                                        <td>@item.EndDate.Value.ToShortDateString()</td>
                                        @if (item.Status == HRSensor.Common.Enums.SurveyStatus.Completed)
                                        {
                                            <td><span class="label label-danger arrowed">Completed</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="label label-success arrowed">Outstanding</span></td>
                                        }
                                        <td>@item.CPRS</td>

                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.SurveyId }) |
                                            @Html.ActionLink("View Assignments", "ViewAssignments", new { id = item.SurveyId }) |

                                            @if (item.Status == HRSensor.Common.Enums.SurveyStatus.Outstanding && item.EndDate >= DateTime.Now)
                                            {
                                                @Html.ActionLink("Assign", "Assignments", new { id = item.SurveyId })
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer>  @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
@section scripts{
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
    <script src="~/assets/plugins/moment/moment.js"></script>
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        $('#date').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
        $('#date2').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
    </script>
}



