﻿@model List<HRSensor.Web.ViewModels.AssignmentViewModel>

@{
    ViewBag.Title = "View Assignments";
    Layout = "~/Views/Shared/_LayoutAdminBlack.cshtml";
}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">View Assignments</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Radar</li>
                <li class="breadcrumb-item active">Interviews</li>
                <li class="breadcrumb-item active">View Assignments</li>
            </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive m-t-40">
                        <table width="100%" class="display nowrap table table-hover table-striped table-bordered  " id="example23" role="grid" aria-describedby="example23_info" style="width: 100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>HR Code</th>
                                    <th>FullName</th>
                                    @if (ViewBag.SurveyStatus == HRSensor.Common.Enums.SurveyStatus.Outstanding)
                                    {
                                        <th>Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody id="assigments">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.HRCode</td>
                                        <td>@item.FullName</td>
                                        @if (ViewBag.SurveyStatus == HRSensor.Common.Enums.SurveyStatus.Outstanding)
                                        {
                                            <td>@Html.ActionLink("Delete", "DeleteAssignments", "Surveys", new { userId = item.UserId, surveyId = ViewBag.SurveyId }, null)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn waves-effect waves-light  btn-danger" })
</div>
<footer class="footer" style="text-align:center"> Copyright <a href="http://pps.gr"> PPS Limited </a> All rights reserved, Powered by <img src="~/assets/images/azure-logo150.png" alt="Azure logo" /></footer> @*and <a href="http://www.exceed-systems.com"> Exceed-Systems International</a>*@
@section scripts{
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                        [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function (settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function (group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function () {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
                //'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}



