﻿
@{
    ViewBag.Title = "HR Radar - Notifications";
}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Notifications</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item">Feedback</li>
                <li class="breadcrumb-item active">Notifications</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <button class="btn btn-success  " type="button"><i class="fa fa-plus-circle"></i> Create New</button>
    <button class="btn  btn-danger " type="button"><i class="fa fa-minus-circle"></i> Delete Selected</button>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-themecolor" c>Notifications Overview</h4>
            <hr />
            <div class="table-responsive m-t-40">
                <div class="dataTables_wrapper" id="example23_wrapper">
                    <div class="dataTables_length" id="myTable_length"><label>Show <select name="myTable_length" aria-controls="myTable"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                    <div class="dt-buttons">
                        <a tabindex="0" class="dt-button buttons-copy buttons-html5" aria-controls="example23" href="#"><span>Copy</span></a>
                        <a tabindex="0" class="dt-button buttons-csv buttons-html5" aria-controls="example23" href="#"><span>CSV</span></a>
                        <a tabindex="0" class="dt-button buttons-excel buttons-html5" aria-controls="example23" href="#"><span>Excel</span></a>
                        <a tabindex="0" class="dt-button buttons-pdf buttons-html5" aria-controls="example23" href="#"><span>PDF</span></a>
                        <a tabindex="0" class="dt-button buttons-print" aria-controls="example23" href="#"><span>Print</span></a>
                    </div>
                    <div class="dataTables_filter" id="example23_filter"><label>Search:<input aria-controls="example23" type="search" placeholder=""></label></div>
                    <table width="100%" class="display nowrap table table-hover table-striped table-bordered dataTable" id="example23" role="grid" aria-describedby="example23_info" style="width: 100%;" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Title</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Monitor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Monitor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Monitor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>01.01.2017</td>
                                <td>Human Risk Auditor</td>
                                <td>Employee10</td>
                                <td>Survey assigned to you</td>
                                <td>
                                    <a href="#" data-original-title="Edit" data-toggle="tooltip">
                                        <i class="fa fa-pencil  text-inverse m-r-10"></i>
                                    </a>
                                    <a href="#" data-original-title="Close" data-toggle="tooltip">
                                        <i class="fa fa-close text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="dataTables_info" id="example23_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                    <div class="dataTables_paginate paging_simple_numbers" id="example23_paginate">
                        <a tabindex="0" class="paginate_button previous disabled" id="example23_previous" aria-controls="example23" data-dt-idx="0">Previous</a><span><a tabindex="0" class="paginate_button current" aria-controls="example23" data-dt-idx="1">1</a><a tabindex="0" class="paginate_button " aria-controls="example23" data-dt-idx="2">2</a><a tabindex="0" class="paginate_button " aria-controls="example23" data-dt-idx="3">3</a><a tabindex="0" class="paginate_button " aria-controls="example23" data-dt-idx="4">4</a><a tabindex="0" class="paginate_button " aria-controls="example23" data-dt-idx="5">5</a><a tabindex="0" class="paginate_button " aria-controls="example23" data-dt-idx="6">6</a></span><a tabindex="0" class="paginate_button next" id="example23_next" aria-controls="example23" data-dt-idx="7">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
